*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Background-Color: #f9f9f9;
    --Form-Background-Color:#fff;
    --Border-Color: #eee;
    --Button-background-color: #3443eb;
}
html{
    font-size: 62.5%;
    /*rem=10px*/
}
body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Background-Color);

}
body .main-section{
    border: 1px solid var(--Border-Color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body .main-section h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}
body .main-section p{
margin-bottom: 20px;
font-weight: 700;
font-size: 1.4rem;
}
body .main-section a{
    text-decoration: none;
    color: gray;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 20px;
    }
 body .main-section a:hover{

        color: #3f3f3f;

        }
body .main-section form{
    display: flex;
    background-color: var(--Form-Background-Color);
    flex-direction: column;
    gap: 10px;
}
body .main-section form input{
    border: 2px solid var(--Border-Color);
    padding: 10px 20px;
    border-radius: 10px;
}
body .main-section form button{
    background-color: var(--Button-background-color);
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--Form-Background-Color);
    border: none;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}
